body {
    overflow-x: hidden; /* منع الـ scroll الجانبي */
}
.blog
{
	padding-top: 108px;
	padding-bottom: 108px;
	text-align: right; /* محاذاة النص إلى اليمين */
}
.blog_post_container
{
	width: 100%;
}
.blog_post:not(:last-child)
{
	margin-bottom: 74px;
}
.blog_post_image
{
margin-top: 10%;
margin-right: 10%;
}
.blog_post_image img
{
	width: 40%;
}
.blog_post_date
{
	position: absolute;
	top: 30px;
	right: 27px; /* تعديل الاتجاه ليكون من اليمين */
	width: 80px;
	height: 54px;
	border-radius: 37px;
	background: #fa9e1b;
}
.blog_post_day
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1;
}
.blog_post_month
{
	font-size: 8px;
	color: #FFFFFF;
	margin-top: 3px;
}
.blog_post_meta
{	margin-right: 10%;

	margin-top: 32px;
}
.blog_post_meta_item
{
	display: inline-block;
	position: relative;
	margin-left: 27px; /* تعديل المسافة من اليسار */
}
.blog_post_meta_item:last-child
{
	margin-left: 0px;
}
.blog_post_meta_item::after
{
	display: block;
	position: absolute;
	top: 7px;
	left: -15px; /* تعديل الاتجاه ليكون من اليسار */
	width: 1px;
	height: 12px;
	background: #929191;
	content:'';
}
.blog_post_meta_item:last-child::after
{
	display: none;
}
.blog_post_meta_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #929191;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_meta_item a:hover
{
	color: #2b2b2b;
}
.blog_post_title
{
	margin-top: 5px;
}
.blog_post_title a
{
	font-size: 24px;
	font-weight: 600;
	color: #2b2b2b;
	margin-right: 10%;
	transition: all 200ms ease;
}
.blog_post_title a:hover
{
	color: #fa9e1b;
}
.blog_post_text
{	margin-right: 10%;
	margin-left: 30%;

	margin-top: 19px;
}
.blog_post_text p
{
	color: #929191;
	line-height: 2.14;
}
.blog_post_text p:last-of-type
{
	margin-bottom: 0px;
}
.blog_post_link
{	margin-right: 10%;

	margin-top: 32px;
}
.blog_post_link a
{
	font-size: 14px;
	font-weight: 700;
	color: #fa9e1b;
	text-transform: uppercase;
	
	transition: all 200ms ease;
}
.blog_post_link a:hover
{
	color: #361f5d;
}
