
  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 140px;
    max-width: 1200px;
    margin: 10%;
    margin-right: 12%;
    width: 100%;
  }

  .support {
    margin:8 px;
    position: relative;
    width: 150%;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 10px 10px 10px 10px rgba(101, 23, 117, 0.1);
    background-color: #fff;
  }

  .support img {
    width: 95%;
    height: 75%;
    object-fit: cover;
    transition: transform 0.8s;
  }

  .support:hover img {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: rgba(211, 85, 18, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .support:hover .overlay {
    opacity: 1;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .support:hover .content {
    opacity: 1;
  }

  .content h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .content p {
    margin-top: 8px;
    font-size: 10px;
  }

  .donate-btn {
    position: absolute;
  
    left: 50%;
    transform: translateX(-50%);
    background-color: #710fd4;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .support:hover .donate-btn {
    opacity: 1;
  }